<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">

</style>

</head>

<body>

<ul>
<li ><a href="#" type="radio" name="sex" id="button1" onclick="show1()"> A</a></li>
<li><a href="#" type="radio" name="sex" id="button1" onclick="show2()" >B</a></li>
</ul>
<div style="display:none" id="div1">
<p>第一个DIV！</p>
</div>
<div style="display:none" id="div2">
<p> 第二个DIV！</p>
</div>

<script>
function show1(){
document.getElementById("div1").style.display="block";
document.getElementById("div2").style.display="none";
};
function show2()
{
document.getElementById("div2").style.display="block";
document.getElementById("div1").style.display="none";
}
</script>
</body>
</html>
